// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100:#e2a41a,
    200:#e89d1c,
    300: #e18e1a,
    400: #d77518,
    500: #cf6316 ,
  ),
  secondary: (
    100: hsl(356, 81%, 68%),   /* #b72810 */
    200: hsl(356, 80%, 63%),   /* #aa090d */
    300: hsl(356, 72%, 57%),   /* #9a0b17 */
    400: hsl(356, 75%, 47%),   /* #810d28 */
    500: hsl(356, 90%, 30%),   /* #710f32 */
),

  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
