---
import MemberCard from '../components/MemberCard.astro'
import Defaultlayout from '../layouts/DefaultLayout.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro' 



---
<Defaultlayout title="galeria">
    <h1>Pagina en construcción..</h1>
</Defaultlayout>
