---
import MemberCard from '../components/MemberCard.astro'
import Defaultlayout from '../layouts/DefaultLayout.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro' 


---
<Defaultlayout title="Junta">
  <section class="staff-container p-10">
    <div class="staff-title m-5">
        <h1 class="">Junta directiva</h1>
    <p class="text-2xl"> ¡Conoce a nuestro equipo!  </p> 
    </div>
  <section class="main-staff">
      <MemberCard ></MemberCard>
  </section>
  </section>
</Defaultlayout>
