---
import MemberCard from './MemberCard.astro'

const staff = {
  main_staff: [
    {
      name: 'Jesus Estrada',
      position: 'Presidente',
      mail: 'jagallardo@uninorte.edu.co'
    },
    {
      name: 'Lucía Montoya',
      position: 'Vice Presidente',
      mail: 'limontoya@uninorte.edu.co'
    },
    {
      name: 'Catalina Pacheco',
      position: 'Secretaría general',
      mail: 'catalinapacheco@uninorte.edu.co'
    },
    {
      name: 'Alejandra Valencia',
      position: 'Tesorera',
      mail: 'catalinapacheco@uninorte.edu.co'
    }
  ],

  divulgation_staff: [
  {
      name: 'Jesus Quiroz',
      position: 'Dirección del departamento de divulgación',
      mail: 'jagallardo@uninorte.edu.co'
    },
    {
      name: 'Jhonatan Maldonado ',
      position: ' Coordinación de investigación',
      mail: 'barreraaj@uninorte.edu.co'
    },
    {
      name: 'María Gutíerrez ',
      position: 'Coordinación de diseño',
      mail: 'mariaig@uninorte.edu.co'
    },
    {
      name: 'Maria Osorno',
      position: 'Coordinación de redacción',
      mail: 'osornoc@uninorte.edu.co'
    },
    {
        name: 'Amir Orozco',
      position: 'Comité de audiovisuales',
      mail: 'amiro@uninorte.edu.co'  
    },
    {
      name: 'Daniel Cruzado',
      position: 'Comité de audiovisuales',
      mail: 'dcruzado@uninorte.edu.co'  
    },
    {
        name: 'Isaac Monterroza',
        position: 'Comité de audiovisuales',
        mail: 'dcruzado@uninorte.edu.co'
    },
  ],

  academic_staff:[
   { name: 'Lucas Romero',
     position: 'Dirección del departamento académico',
     mail: 'lucasromero@uninorte.edu.co'
    }
  ],
  
  logistic_staff: [
  { name: 'Valentina Fragoso',
     position: 'Dirección del departamento de logística',
     mail: 'fragosov@uninorte.edu.co'
    },
    { name: 'Gabriel Rodríguez Charris',
     position: 'Asistencia del departamento académico',
     mail: 'gabrielcharris@uninorte.edu.co'
    }
  ],

  register_staff: [
  { name: 'Zahir Acosta',
     position: 'Dirección del departamento de registro',
     mail: 'zdelaasuncion@uninorte.edu.co'
    }
  ],

  social_media_staff: [
  { name: 'Yeisi Rodriguez',
     position: 'Community Manager',
     mail: 'yeisir@uninorte.edu.co'
    },
    { name: 'Gabriela Palacio',
     position: 'Community Manager',
     mail: 'apalaciog@uninorte.edu.co'
    },
    
  ],

  communications_staff: [
  { name: 'Cesar Muñoz',
     position: 'Director comunicaciones internas',
     mail: 'ceballosac@uninorte.edu.co'
    }
  ],
 
  tech_staff: [
  { name: 'Jesus Cantillo',
     position: 'Director tecnologia',
     mail: 'jesusguerrero@uninorte.edu.co'
    }
  ]


};
---

<section>
    <h2>Staff Members</h2>
    <div class="grid-gallery">
       
    </div>
</section>
