---
---

<section  class="instagram-feed p-16 mx-6 my-2 rounded-lg">
    <div class="images-container">
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-33cfc490-07cb-4c8c-a3de-775bf570ade9" data-elfsight-app-lazy></div>
    </div>
</section>


<style>
    .instagram-feed {
        color: var(--neutral-900);
        background-image: #b7b1b1;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }

    .images-container{
        border-radius: 2px;
    }
</style>